<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <!-- Google Material Icons -->
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <!-- Bootstrap -->
            <link href="{{ asset('bundles/WebAppBundle/Css/bootstrap.min.css') }}" rel="stylesheet">
            <!-- Pace Loading -->
            <link href="{{ asset('bundles/WebAppBundle/Components/pace/css/pace.css') }}" rel="stylesheet">

            <!-- Fonts -->
            <link href="{{ asset('bundles/WebAppBundle/Css/Fonts.css') }}" rel="stylesheet">

            <!-- Main Styling -->
            <link href="{{ asset('bundles/WebAppBundle/Css/Main.css') }}" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <header>
        <h1>Der Kursname evtl</h1>
    </header>
    <div id="side-nav">
        <div class="side-nav-header">
            <div class="icon-bubble">
                <i class="material-icons">person</i>
            </div>
            <div class="username">Florian Breuer</div>
        </div>
        <nav>
            <ul>
                <li>Startseite</li>
                <li>Seite 2</li>
                <li>Beispiel 3</li>
                <li>Seite Test</li>
                <li>Seite Muste</li>
                <li>Einstellung</li>
            </ul>
        </nav>
    </div>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
