<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="mobile-web-app-capable" content="yes">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
            <!-- Google Material Icons -->
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <!-- Bootstrap -->
            <link href="{{ asset('bundles/WebAppBundle/Css/bootstrap.min.css') }}" rel="stylesheet">
            <!-- Pace Loading -->
            <link href="{{ asset('bundles/WebAppBundle/Components/pace/css/pace.css') }}" rel="stylesheet">

            <!-- Fonts -->
            <link href="{{ asset('bundles/WebAppBundle/Css/Fonts.css') }}" rel="stylesheet">

            <!-- OWL Slider -->
            <link href="{{ asset('bundles/WebAppBundle/Components/OwlCarousel2/dist/assets/owl.carousel.min.css') }}" rel="stylesheet">

            <!-- Main Styling -->
            <link href="{{ asset('bundles/WebAppBundle/Css/Animate.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/WebAppBundle/Css/Main.css') }}" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <header>
        <div class="container-fluid">
            <div class="menu-burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="nav-spacer"></div>
            {% if is_granted('ROLE_USER') %}
            <div class="loggedin-user">
                <div class="icon-bubble">
                    <i class="material-icons">person</i>
                </div>
            </div>
            {% endif %}
        </div>
        {% if header_headline is defined %}
            <div class="container">
                <h1>{{ header_headline }}</h1>
            </div>
        {% endif %}
        </div>
    </header>

    <body>
        {% block body %}{% endblock %}

        <div class="side-nav">
            <div class="side-nav-header">
                 <span class="close-btn">
                    <i class="material-icons">close</i>
                </span>
            </div>
            <ul>
                <li><a href="{{ path('homepage') }}" title="Startseite">Startseite</a></li>
                <li><a href="{{ path('homepage') }}" title="Startseite">Profil</a></li>

                {% if is_granted('ROLE_USER') %}
                    <hr>
                    <li><a href="{{ path('deck_overview', { 'username': app.user.username }) }}" title="Kartenstapel">Kartenstapel</a></li>
                    <ul class="sub-menu">
                        <li><a href="{{ path('flashcard_trainView', { 'username': app.user.username, 'deckname': app.user.username }) }}" title="Kartenstapel 1">Kartenstapel 1</a></li>
                        <li><a href="{{ path('flashcard_trainView', { 'username': app.user.username, 'deckname': app.user.username }) }}" title="Beispiel Stapel">Beispiel Stapel</a></li>
                        <li><a href="{{ path('flashcard_trainView', { 'username': app.user.username, 'deckname': app.user.username }) }}" title="Stapel von Florian">Stapel von Florian</a></li>
                        <li><a href="{{ path('flashcard_trainView', { 'username': app.user.username, 'deckname': app.user.username }) }}" title="Stapel von Edurado">Stapel von Edurado</a></li>
                    </ul>
                {% endif %}

                <hr>
                <li><a href="{{ path('user_registration') }}" title="Registrieren">Registrieren</a></li>
                <li><a href="{{ path('logout') }}" title="Abmelden">Abmelden</a></li>
            </ul>
        </div>
        <div class="menu-overlay"></div>

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
            <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
            <script src="{{ asset('bundles/WebAppBundle/Components/jquery-textfill/source/jquery.textfill.min.js') }}"></script>
            <script src="{{ asset('bundles/WebAppBundle/Components/OwlCarousel2/dist/owl.carousel.min.js') }}"></script>
            <script src="{{ asset('bundles/WebAppBundle/Js/Main.js') }}"></script>
        {% endblock %}
    </body>
</html>
