{% extends 'layouts/base.html.twig' %}

{% block body %}
    <div class="container content-container">
        {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}

        <button type="submit">{% trans %}Registrieren{% endtrans %}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}